---
import logoAbba from '@/assets/images/logo-abba.svg'
import logoBarclays from '@/assets/images/logo-barclays.svg'
import logoBBC from '@/assets/images/logo-bbc.svg'
import logoDisney from '@/assets/images/logo-disney.svg'
import logoUbisoft from '@/assets/images/logo-ubisoft.svg'
---

<section class="section about" id="about">
  <div class="about__content">
    <div class="about__copy text-balance">
      <h2>About</h2>
      <p>Hello, I am Simon Richards, a full stack developer based in London and Basingstoke. I graduated in Multimedia Computing at Plymouth University and have been working as a web developer for 8+ years.</p>
      <p>I currently work at <a href="https://www.dewynters.com" target="_blank" rel="noreferrer">Dewynters</a> as a senior web developer.</p>
      <p>I am <span class="text-green-400 font-bold">available</span> for freelance work, please <a href="#contact" class="scroll-to">Contact me</a> if you are interested.</p>
      <p class="mt-4">Here are some companies that I have been lucky to work with along the way...</p>
    </div>
    <ul class="about__companies">
      <li><img src={logoAbba.src} alt="ABBA" /></li>
      <li><img src={logoBarclays.src} alt="Barclays" /></li>
      <li><img src={logoBBC.src} alt="BBC" /></li>
      <li><img src={logoDisney.src} alt="Disney" /></li>
      <li><img src={logoUbisoft.src} alt="Ubisoft" /></li>
    </ul>
  </div>
</section>